{{ if .IsNamedParams }}
<table id="reservations-table" style="width: 100%;">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Leihdatum</th>
      <th>geplantes Rückgabedatum</th>
      <th>ist gerade entliehen</th>
      <th>ist gerade zurückgegeben</th>
      <th>Wirkliches Rückgabedatum</th>
    </tr>
  </thead>
  <tbody>
  {{ $data := $.Site.Data.rentals }}

  {{ range $data }}
    <tr>
      {{ partial "rentals.html" . }}
    </tr>
  {{ end }}
  </tbody>
</table>
{{- end -}}