<style>
    .teamBox {padding: 0 2vh;}
    .small-image {height: 15vw;}
</style>
<br><br>
<H1>Unser Team</H1>
<div style="display: flex; width: 100%; padding-top: 0;">
    <!--TODO: Bild Sophie und ned placeholder-->
    <div class="teamBox">
        <h2>Sophie Binder</h2>
        {{ $image := resources.Get "images/placeholder.png" }}
        {{ $resized := $image.Resize "200x" }}
        <img src="{{ $resized.RelPermalink }}" alt="Sophie Binder" class="small-image">
        <p>Sophie Binder ist unser SCRUM Master und arbeitet im Backend</p>
        <p style="font-style: italic;">Bild ist nur ein Placeholder bis Sophie ein Foto schickt</p>
    </div>

    <div class="teamBox">
        <h2>Sophie Stöger</h2>
        {{ $image := resources.Get "images/stoeger.jpg" }}
        {{ $resized := $image.Resize "200x" }}
        <img src="{{ $resized.RelPermalink }}" alt="Sophie Stöger" class="small-image">
        <p>Sophie Stöger ist zuständig für Hosting auf der Leocloud und arbeitet auch im Backend</p>
    </div>
    
    <div class="teamBox">
        <h2>Maximilian Slabschi</h2>
        {{ $image := resources.Get "images/slabschi.jpg" }}
        {{ $resized := $image.Resize "200x" }}
        <img src="{{ $resized.RelPermalink }}" alt="Maximilian Slabschi" class="small-image">
        <p>Maximilian Slabschi ist zuständig fürs Frontend</p>
    </div>

    <div class="teamBox">
        <h2>Moritz Wagner</h2>
        {{ $image := resources.Get "images/wagner.png" }}
        {{ $resized := $image.Resize "200x" }}
        <img src="{{ $resized.RelPermalink }}" alt="Moritz Wagner" class="small-image" style="width:15vw" >
        <p>Moritz Wagner ist zuständig fürs Frontend</p>
    </div>
</div>
